@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@-webkit-keyframes visualizacao {
  from { -webkit-opacity: 0%; }
  to { -webkit-opacity: 100%; }
}
@-moz-keyframes visualizacao {
  from { -webkit-opacity: 0%; }
  to { -webkit-opacity: 100%; }
}
@keyframes visualizacao{
  from { -webkit-opacity: 0%; }
  to { -webkit-opacity: 100%; }
}

@-webkit-keyframes pulo {
    to { -webkit-transform: scale(1.1); }
  }
  @-moz-keyframes pulo {
    to { -moz-transform: scale(1.1); }
  }
  @keyframes pulo {
    to { transform: scale(1.1); }
  }

html, body {
    height: 100vh;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.interface {
    width: 450px;
    background: url('../images/imagem-de-fundo.png') no-repeat;
    background-size: 450px auto; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.interface .item {
    border-radius: 10px;
    background-color: #15F6FA;
    height: 80px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.interface h6, .interface .item {
  visibility: hidden;
} 

.interface .item:hover {
    background-color: #0EDCDF;
    border: 2px solid #15F6FA;
}

.opacidade {
  -webkit-animation: visualizacao 2s;
  -moz-animation: visualizacao 2s;
  animation: visualizacao 2s;
}

.animacao {
  -webkit-animation: pulo .4s alternate;
  -moz-animation: pulo .4s alternate;
  animation: pulo .4s alternate;
}